{% extends "base.jinja2" %}

{% block html_head %}
    <!-- CodeMirror -->
    <link rel="stylesheet" href="/3pp/codemirror/lib/codemirror.css"/>
    <link rel="stylesheet" href="/3pp/codemirror/addon/display/fullscreen.css"/>
    <link rel="stylesheet" href="/3pp/codemirror/addon/hint/show-hint.css"/>
    <script type="text/javascript" src="/3pp/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="/3pp/codemirror/addon/dialog/dialog.js"></script>
    <script type="text/javascript" src="/3pp/codemirror/addon/search/searchcursor.js"></script>
    <script type="text/javascript" src="/3pp/codemirror/addon/edit/matchbrackets.js"></script>
    <script type="text/javascript" src="/3pp/codemirror/addon/display/fullscreen.js"></script>
    <script type="text/javascript" src="/3pp/codemirror/mode/yaml/yaml.js"></script>
    <script type="text/javascript" src="/3pp/codemirror/addon/hint/show-hint.js"></script>


{% endblock %}

{% block content %}

  <h3>
    {% if existing %} Editing {% else %} Adding {% endif %}
    {% if dev %} {{ editor_type | upper }} {% endif %}
    {% set project_id = filename[ 0: filename.index(".") ] %}
    project configuration: {{ project_id | upper }}</h3>

  <!-- Here is where the CodeMirror editor will live. This element is hidden but it will be used all
       the same to generate the CodeMirror editor.  -->

  <textarea id="code" class="hidden">{% if yaml is defined %}{{ yaml }}{% endif %}</textarea>

  <div>
    <button id="validate-btn" class="btn btn-primary" onclick="validate('{{ filename }}')">
      Validate
    </button>
    {% if existing %}
      <button id="update-btn" class="btn btn-danger"
              onclick="update_config('{{ filename }}', '{{ editor_type }}')" disabled>Submit update
      </button>
    {% else %}
      <button id="add-btn" class="btn btn-danger" onclick="add_config('{{ filename }}', '{{ editor_type }}')" disabled>
        Add configuration
      </button>
    {% endif %}
  </div>

  <!-- Messages received when pressing the 'Validate' button are displayed in this div. -->
  <div id="status-area" role="alert" style="display:none" >
    <button id="close-alert-btn" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div id="alert-message"> <!-- For the main validation message. -->
    </div>

    <div id="details-area" style="display:none">
        <hr/>
        <a href="" id="showDetailsLink" class="alert-link" onclick="showHideText('details','showDetailsLink');return false;">
            Show Details
        </a>

        <div id="details" style="display:none">
            <a href="" id="hideDetailsLink" class="alert-link" onclick="showHideText('showDetailsLink','details');return false;">
                Hide Details
            </a>
            <div id="detail-message" class="preformatted">  <!-- for the secondary message. -->
            </div>
        </div> <!-- details -->
    </div> <!-- details-area -->
  </div> <!-- status-area -->


{% endblock %}