{% extends "base.jinja2" %}


{% block content %}

    <div class="row" >
        <div class="col-md-12">
            <p>
            Choose one of the project configurations below to edit, or
            <a href="/prepare_new" class="text-primary">add a new project configuration</a>.
            </p>
        </div>
    </div>

    <div class="row justify-content-end">
        <div class="col"></div> <!-- empty col for flexible right-alignment of search -->
        <div class="col-md-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-text1">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                </div>
                <input id="table-search" class="form-control" type="text" placeholder="Search ontology table" aria-label="Search"></input>
                <div class="input-group-append">
                    <span class="input-group-text" id="search-result-count">{{configs|length}} rows</span>
                </div>
                &nbsp;
                <a href="" onclick="javascript: clearTableSearch(); return false;" class="text-dark">
                    <button type="button" class="btn btn-light border border-secondary" aria-label="Left Align" title="Clear Search">
                        <span class="small" style="white-space: nowrap;">
                        <i class="far fa-times-circle"></i>
                        Clear Search</span>
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
            <table class="table small" id="tb-ontologies">
                <tbody>
                {% for cfg in configs | sort(attribute='id') %}
                    <tr>
                    <td>
                        <a href="http://obofoundry.org/ontology/{{cfg.id}}.html" target="_new">{{ cfg.id }}</a>
                    </td>
                    <td>
                        {{ cfg.title }}
                    </td>
                    <td>
                        {{ cfg.description }}
                    </td>
                    <td style="min-width:100px white-space: nowrap;">
                        <div class="btn-group" role="group" aria-label="Edit Actions">
                        <a href="/edit/purl/{{ cfg.purl_filename }}">
                            <button type="button" class="btn btn-light border border-secondary" aria-label="Left Align" title="Edit PURLs">
                            <span class="small" style="white-space: nowrap;">
                            <i class="fas fa-pencil-alt"></i>
                            Edit PURLs</span>
                            </button>
                        </a>
                        {% if dev and cfg.registry_filename %}
                            <a href="/edit/registry/{{ cfg.registry_filename }}">
                                <button type="button" class="btn btn-light border border-secondary" aria-label="Left Align" title="Edit Registry">
                                <span class="small" style="white-space: nowrap;">
                                <i class="fas fa-pencil-alt"></i>
                                Edit Registry</span>
                                </button>
                            </a>
                        </div>
                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>

{% endblock %}

