<!doctype html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

{% set appname = "OBO PURL YAML Code Editor" %}

<title>{{ appname }}</title>

{% include 'includes.jinja2' %}

<div class="container-fluid">

  <h2>{{ appname }}</h2>

  {% if login is not none %}
    <div>
      You are logged in to the {{ appname }} as <strong>{{ login }}</strong>.
      Click <a href="/logout">here</a> to logout
    </div>
  {% endif %}

  <hr/>

  <span>
    <!-- TODO: WE NEED TO DIRECT THE USER TO A FORM OR A DIALOG BEFORE CONNECTING TO THE SERVER -->
    <a class="btn btn-primary" href="/edit_new" role="button">Add a new configuration</a>
  </span>

  <span class="dropright show">
    <a class="btn btn-primary dropdown-toggle"
       role="button"
       href="#"
       id="dropdownMenuLink"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">
       Edit an existing configuration
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      {% for cfg in configs | sort(attribute='name') %}
        <a class="dropdown-item" href="/edit/{{ cfg.path }}">{{ cfg.name | replace(".yml", "") | upper }}</a>
      {% endfor %}
    </div>
  </span>
</div>
