{% extends "base.jinja2" %}

{% block content %}

  <div>
    You are <strong>logged out</strong>.
    If this is a shared computer you may also want to
    <a href="https://github.com/logout">sign out of GitHub</a>.<br/>
    Click <a href="/login">here</a> to log back in to {{ appname }} through GitHub.
  </div>


{% endblock %}