<!doctype html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

{% set appname = "OBO PURL YAML Code Editor" %}

<title>{{ appname }}</title>

{% include 'includes.jinja2' %}

<div class="container-fluid">

  <h2><a href="/">{{ appname }}</a></h2>

  <hr/>
  <div>
    You are <strong>logged out</strong>.
    If this is a shared computer you may also want to
    <a href="https://github.com/logout">sign out of GitHub</a>.<br/>
    Click <a href="/login">here</a> log back in to {{ appname }} through GitHub.
  </div>

</div>
