<!doctype html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

{% set appname = "OBO PURL YAML Code Editor" %}

<title>{{ appname }}</title>

{% include 'includes.jinja2' %}

<div class="container-fluid">

  <h2>{{ appname }}</h2>

  <hr/>
  <div>
    Click <a href="/login">here</a> to access the {{ appname }}
    through GitHub.
  </div>

</div>
