<!doctype html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

{% set appname = "OBO PURL YAML Code Editor" %}

<title>{{ appname }}</title>

{% include 'includes.jinja2' %}

<div class="container-fluid">

  <h2><a href="/">{{ appname }}</a></h2>

  {% if login is not none %}
    <div>
      You are logged in as <strong>{{ login }}</strong>.
      Click <a href="/logout">here</a> to logout
    </div>
  {% endif %}

  <br/>

  <hr/>

  <h4>Add a new project configuration</h4>

  <div class="row">&nbsp;</div>

  {% if notfound is defined %}
    <div class="col-sm-4 alert alert-warning" role="alert">
      {{ notfound }}
    </div>
  {% endif %}

  <div class="col-sm-4 bg-light border">
    <div class="row">&nbsp;</div>
    <form action="/edit_new" method="POST">
      <div class="form-group">
        <label for="projectId">ID</label>
        <input type="text" class="form-control" name="projectId" id="projectId"
               {% if project_id is defined %}
                 value="{{ project_id }}"
               {% endif %}
               required>
      </div>
      <div class="form-group">
        <label for="projectOrg">GitHub organization/username</label>
        <input type="text" class="form-control" name="projectOrg" id="projectOrg"
               {% if project_org is defined %}
                 value="{{ project_org }}"
               {% endif %}
               required>
      </div>
      <div class="form-group">
        <label for="projectOrg">GitHub project</label>
        <input type="text" class="form-control" name="projectGit" id="projectGit"
               {% if project_git is defined %}
                 value="{{ project_git }}"
               {% endif %}
               required>
      </div>
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
  </div>

</div>
