<!doctype html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"/>

<link rel="stylesheet" href="/editor.css"/>

{% set appname = "OBO Metadata Editor" %}

<title>{{ appname }}</title>

<div class="container-fluid">

  <h1><a href="/" class="text-dark">{{ appname }}</a></h1>

  {% if login is not none %}
    <div>
      You are logged in as <strong>{{ login }}</strong>.
      Click <a href="/logout">here</a> to logout
    </div>
  {% endif %}

  <br/>

  <hr/>

  <h4>Add a new project configuration</h4>

  <div class="row">&nbsp;</div>

  {% if notfound is defined %}
    <div class="col-sm-4 alert alert-warning" role="alert">
      {{ notfound }}
    </div>
  {% endif %}

  <div class="col-sm-4 bg-light border">
    <div class="row">&nbsp;</div>
    <form action="/edit_new" method="POST">
      <div class="form-group">
        <label for="projectId">ID</label>
        <input type="text" class="form-control" name="projectId" id="projectId"
               {% if project_id is defined %}
                 value="{{ project_id }}"
               {% endif %}
               required>
      </div>
      <div class="form-group">
        <label for="githubOrg">GitHub organization/username</label>
        <input type="text" class="form-control" name="githubOrg" id="githubOrg"
               {% if github_org is defined %}
                 value="{{ github_org }}"
               {% endif %}
               required>
      </div>
      <div class="form-group">
        <label for="githubOrg">GitHub project</label>
        <input type="text" class="form-control" name="githubRepo" id="githubRepo"
               {% if github_repo is defined %}
                 value="{{ github_repo }}"
               {% endif %}
               required>
      </div>
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
  </div>

</div>
