{% extends "base.jinja2" %}

{% block content %}

  <h4>{%if dev%} Step 1 of 3: {% endif %} Add a new project configuration</h4>

  <div class="row">&nbsp;</div>

  {% if error_message is defined %}
    <div class="col-sm-12 alert alert-error" role="alert">
      {{ error_message }}
    </div>
  {% endif %}

  {% if dev %}
  <div class="col-sm-12 bg-light border">
    <div class="row mb-2">&nbsp;Do you already have an issue number
      for a Foundry ontology registration request?</div>
      <form action="/edit_new" method="POST">
        <div class="form-group">
          <label for="issueNumber">Issue Number</label>
          {% if issueList|length > 0 %}
            <select class="form-control" id="issueNumber" name="issueNumber">
              {% for x in issueList.keys() %}
                <option value = '{{ x }}' > {{x}} : {{ issueList[x] }}</option>
              {% endfor %}
            </select>
          {% else %}
            <input type="text" class="form-control" id="issueNumber" name="issueNumber">
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
  </div>

  {% endif %}

  <div class="row">&nbsp;</div>

  <div class="col-sm-12 bg-light border">
    <div class="row mb-2"> {% if dev %} Alternatively, please {% else %} Please {% endif %}
      provide the following information for the new configuration.</div>
      <form action="/edit_new" method="POST">
        <div class="form-group">
          <label for="projectId">ID</label>
          <input type="text" class="form-control" name="projectId" id="projectId"
                 {% if project_id is defined %}
                   value="{{ project_id }}"
                 {% endif %}
                 required>
        </div>
        <div class="form-group">
          <label for="githubOrg">GitHub organization/username</label>
          <input type="text" class="form-control" name="githubOrg" id="githubOrg"
                 {% if github_org is defined %}
                   value="{{ github_org }}"
                 {% endif %}
                 required>
        </div>
        <div class="form-group">
          <label for="githubOrg">GitHub project</label>
          <input type="text" class="form-control" name="githubRepo" id="githubRepo"
                 {% if github_repo is defined %}
                   value="{{ github_repo }}"
                 {% endif %}
                 required>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
  </div>


{% endblock %}