<!doctype html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

{% set appname = "OBO PURL YAML Code Editor" %}

<title>{{ appname }}</title>

{% include 'includes.jinja2' %}

<div class="container-fluid">

  <h2><a href="/">{{ appname }}</a></h2>

  {% if login is not none %}
    <div>
      You are logged in as <strong>{{ login }}</strong>. Click <a href="/logout">here</a> to logout
    </div>
  {% endif %}

  <hr/>

  <h3>
    {% if existing %}
      Editing
    {% else %}
      Adding
    {% endif %}
    project configuration: {{ filename | upper | replace(".YML", "") }}</h3>

  <!-- Here is where the CodeMirror editor will live. This element is hidden but it will be used all
       the same to generate the CodeMirror editor.  -->

  <textarea id="code" class="hidden">{% if yaml is defined %}{{ yaml }}{% endif %}</textarea>

  <div>
    <button id="validate-btn" class="btn btn-primary" onclick="validate('{{ filename }}')">
      Validate
    </button>
    {% if existing %}
      <button id="update-btn" class="btn btn-danger"
              onclick="update_config('{{ filename }}')" disabled>Submit update
      </button>
    {% else %}
      <button id="add-btn" class="btn btn-danger" onclick="add_config('{{ filename }}')" disabled>
        Add configuration
      </button>
    {% endif %}
  </div>

  <!-- Messages received when pressing the 'Validate' button are displayed in this div. -->
  <div id="status-area"/>

</div>
